@inherits TestComponentBase

<Fixture Test="CounterRazorTest">
    <ComponentUnderTest>
        <Counter />
    </ComponentUnderTest>
    <Fragment>
        <h1>Counter</h1>

        <p>Current count: 0</p>

        <button class="btn btn-primary">Click me</button>
    </Fragment>
</Fixture>

@code {

    void CounterRazorTest()
    {

        var cut = GetComponentUnderTest<Counter>();

        var expectedHtml = @"<h1>Counter</h1>

     <p>Current count: 0</p>

     <button class='btn btn-primary'>Click me</button>";

        cut.MarkupMatches(expectedHtml);
    }

}